<div class="container"></div>
<footer>
  <!-- Footer main -->
  <section class="ft-main">
    <div class="ft-main-item">
      <h2 class="ft-title">History</h2>
      <ul>
        <li><a href="/aboutus">AboutUs</a></li>
        <li><a href="/competency">Portfolio</a></li>
        <li><a href="/facilities">Facilities</a></li>
        
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Future</h2>
      <ul>
        <li><a href="/vision">Vision</a></li>
        <li><a href="/projectreference">Projects</a></li>
        
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Others</h2>
      <ul>
        <li><a href="/community">Community Services</a></li>
        <li><a href="/contact">Contact</a></li>
      
      </ul>
    </div>
  
  </section>

  <!-- Footer social -->
  <section class="ft-social">
    <ul class="ft-social-list">
      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#"><i class="fab fa-github"></i></a></li>
      <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="#"><i class="fab fa-youtube"></i></a></li>
    </ul>
  </section>

  <!-- Footer legal -->
  <section class="ft-legal">
    <ul class="ft-legal-list">
      <li><a href="#">Terms &amp; Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li>2021 Isha Software Solutions Inc.</li>
    </ul>
  </section>
</footer>