<p>Established in 2007, Asiatec group provides specialized service in the ship repair sector. 
    We have highly experienced management and operation teams with skilled and committed work force. As trusted partner,
     we solely assist customers in minimizing down time to achieve maximum operational efficiency through dedicated and committed team who are operational ready 24 hours a day & seven days a week. We have workshop facility with 20000 Sqft located in Tuas, 
     Singapore including machine shop comprises of CNC machines and services including turning, boring, drilling and facing. 
     Our strong hold of Business Front is our dedicated work force over 200 skilled technician,
      Engineers and Production managers covering an wide range of work related to marine & offshore, 
    Engineering Industry- mechanical, hydraulic, piping, steel and out fitting works.</p>

